@using CarInsurance.Models

@model List<Insuree>


<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class=" card-header text-center">
            <h5 class=" m-0">Sign-Ups</h5>
        </div>
        <div class="card-body">
            @foreach (var signup in Model)
            {
                using (Html.BeginForm("Usubscribe", "Admin", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@signup.Id" />
                    <div class=" row mb-auto">
                        <div class=" col-12">
                            @signup.FirstName
                        </div>
                        <div class="col-12">
                            @signup.LastName
                        </div>
                        <div class="col-12">
                            @signup.EmailAddress
                        </div>

                        <div class="col-12">
                            $@signup.Total.00
                        </div>
                    </div>
                }

            }

        </div>
    </div>
</div>